.contribution-section2 {
  flex: 0 0 auto;
  width: 90%;
}
.contribution-section22 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  width: 45%;
  justify-content: flex-start;
}
.contribution-card2 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 5px;
}
.contribution-label {
  flex: 0 0 auto;
  font: var(--font-weight-400) var(--font-size-16) 'Inter';
  color: var(--color-darkgrey-bfcdd69);
  letter-spacing: 0.08px;
  white-space: nowrap;
}
.contribution-amount {
  flex: 0 0 auto;
  margin-top: 9px;
  color: var(--color-black);
}
.currency-amount {
  font: var(--font-weight-400) var(--font-size-16) 'Inter';
}
.frequency-text {
  flex: 0 0 auto;
  font: var(--font-weight-400) var(--font-size-16) 'Inter';
  margin-top: 9px;
  color: var(--color-black);
}
.duration-text {
  flex: 0 0 auto;
  font: var(--font-weight-400) var(--font-size-16) 'Inter';
  padding-right: 18px;
  margin-top: 9px;
  color: var(--color-black);
}
.group-link1 {
  font: var(--font-weight-400) var(--font-size-16) 'Inter';
  margin-top: 15px;
  color: var(--color-dodgerblue-7854f561);
  letter-spacing: 0.08px;
  cursor: pointer;
}
