.savings-group-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
}

.rounded-container {
  flex: 0 0 auto;
  border: 1px solid var(--color-lightgrey-7e1cae0c);
  border-radius: var(--border-radius-100);
  background: var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  min-width: 308px;
  height: 44px;
}
.svg-container1 {
  display: flex;
  width: 24px;
  height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 24px;
}
.input-field {
  border: none;
  font: var(--font-weight-400) var(--font-size-16) 'Inter';
  background: var(--color-991c5d52);
  box-sizing: border-box;
  width: 100%;
  margin-left: 8px;
  letter-spacing: 0.15px;
  outline: none;
}
.input-style-f62::placeholder {
  color: var(--color-darkgrey-bfcdd69);
}
.contribution-info {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.event-details-container {
  flex: 0 0 auto;
}
.rounded-image {
  border: 2px solid var(--color-lightgrey-7e1cae0c);
  border-radius: var(--border-radius-200);
  box-sizing: border-box;
  display: block;
  width: 36px;
  max-width: initial;
  height: 36px;
  object-fit: cover;
}
.name-tag {
  flex: 0 0 auto;
  font: var(--font-weight-400) var(--font-size-16) 'Inter';
  margin-left: 6px;
  color: var(--color-black-89c635a1);
  letter-spacing: 0.15px;
}
.savings-group-container3 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-self: stretch;
  justify-content: flex-start;
  padding-right: 43px;
  padding-left: 43px;
  /* max-width: 1000px; */
  margin-left: 12em;
}
.savings-group-container2 {
  flex: 0 0 auto;
  box-sizing: border-box;
  width: 42.01%;
  padding-bottom: 43px;
}
.header-title6 {
  font: var(--font-weight-700) var(--font-size-32) 'Inter';
  color: var(--color-black);
  letter-spacing: 0.15px;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: -1em;
}
.hero-imagev {
  flex: 0 0 auto;
  border: none;
  border-radius: var(--border-radius-8);
  box-sizing: border-box;
  display: block;
  width: 1000px;
  max-width: initial;
  height: 260px;
  object-fit: cover;
  margin-left: 4em;
  object-position: 90% 10%;
}
.money-sense-text {
  flex: 0 0 auto;
  font: var(--font-weight-400) var(--font-size-16) / 140% 'Inter';
  box-sizing: border-box;
  max-width: 1000px;
  margin-top: -4px;
  color: var(--color-slategrey-9026d582);
  text-align: left;
  letter-spacing: 0.15px;
}
