.image-container {
  border: none;
  box-sizing: border-box;
  display: block;
  width: 135px;
  max-width: initial;
  height: 186px;
  object-fit: cover;
}

.contribution-section1 {
  flex: 0 0 auto;
}

.svg-container11 {
  width: 24px;
  height: 24px;
  position: relative;
  right: 4em;
  cursor: pointer;
}
