.active-savings-group-container6 {
  background: var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 8px;
  margin-bottom: -2.5em;
  margin-right: 4.9em;
}
.savings-group-title16 {
  flex: 0 0 auto;
  font: var(--font-weight-600) var(--font-size-14) 'Inter';
  color: var(--color-darkslategrey-1b46e7ef);
}
.svg-container26 {
  flex: 0 0 auto;
  display: flex;
  width: 20px;
  height: 20px;
  color: var(--color-darkgrey-35279045);
}
.savings-group-title6 {
  flex: 0 0 auto;
  font: var(--font-weight-600) var(--font-size-14) 'Inter';
  color: var(--color-slategrey-de50c981);
}
