.savings-group-card1 {
  background: var(--color-white);
  padding: 0px;
  display: flex;
  padding-left: 80px;
  margin-left: 410px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 892px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.16);
}
.header-container1 {
  flex: 0 0 auto;
  padding-top: 54px;
  padding-bottom: 55px;
  margin-left: -3em;
}
.image-container1 {
  border: none;
  box-sizing: border-box;
  display: block;
  width: 135px;
  max-width: initial;
  height: 186px;
  object-fit: cover;
  /* margin-left: 6em; */
}
.money-palava-savers-container11 {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: 29px;
}
.flex-container1 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-waiting1 {
  flex: 0 0 auto;
  border: none;
  border-radius: var(--border-radius-1678);
  font: var(--font-weight-500) var(--font-size-16) 'Inter';
  background: var(--color-lavender-d88d7bed);
  box-sizing: border-box;
  display: block;
  width: 92px;
  min-width: 92px;
  height: 48px;
  color: var(--color-dodgerblue-8a8544b8);
  letter-spacing: 0.08px;
  cursor: pointer;
}
.image-container-with-counter1 {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 380px;
}
.image-container21 {
  flex: 0 1 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 47px;
  margin-left: 6em;
}
.contribution-section11 {
  flex: 0 0 auto;
}
.rounded-image1 {
  border: 2.5px solid var(--color-white);
  border-radius: var(--border-radius-336);
  box-sizing: border-box;
  display: block;
  width: 46px;
  max-width: initial;
  height: 47px;
  object-fit: cover;
}
.bonus-points {
  flex: 0 0 auto;
  margin-left: -11px;
}
.rounded-image1 {
  border: 2.5px solid var(--color-white);
  border-radius: var(--border-radius-336);
  box-sizing: border-box;
  display: block;
  width: 47px;
  max-width: initial;
  height: 47px;
  object-fit: cover;
}
/* .image-container1 {
  flex: 0 0 auto;
  margin-left: -12px;
} */
.rounded-container {
  flex: 0 1 auto;
  border: 2.5px solid var(--color-white);
  border-radius: var(--border-radius-336);
  background: var(--color-grey-85d897f1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding-right: 3px;
  padding-left: 3px;
  margin-left: -11px;
}
/* .score-label {
  flex: 0 0 auto;
  font: var(--font-weight-500) var(--font-size-10) / 14px 'Heebo';
  color: var(--color-white);
  text-align: center;
} */
.svg-container1 {
  flex: 0 0 auto;
  display: flex;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.dropdown-container1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: block;
  position: absolute;
  left: 6em;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 1;
}
